html{
    box-sizing: border-box;
}


*,
*::after,
*::before{
    box-sizing: inherit;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    outline: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong { font-weight: bold; } 

input { outline: none; }

table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }

a { text-decoration: none; color: #000}
a:hover { text-decoration: underline; }


.container{
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

body{
    font-family: "Encode Sans", sans-serif;
    font-size: 32px;
    line-height: 40px;
    font-weight: 400;
}

.header{
    box-shadow: 4px 0 4px #000000;
    margin-bottom: 109px;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 51px 0px;
}

.languauge-box{
    display: flex;
}

.language{
    font-family: Jost, sans-serif;
    line-height: 46px;
    font-weight: 300;
    padding-right: 12px;
    position: relative;
}

.intro{
    text-align: center;
}

.intro__title{
    font-size: 96px;
    line-height: 120px;
    margin-bottom: 143px;
}

.first-letter600{
    font-weight: 600;
    color: #3264FF;
}

.intro__text{
    font-weight: 300;
    letter-spacing: .2em;
    max-width: 1080px;
    margin: 0 auto 143px;
}

.run-line{
    font-size: 96px;
    line-height: 120px;
    background-color: #000000;
    color: #fff;
    width: 100%;
    vertical-align: top;
}

.about-city{
    background-color: #000000;
    color: #FFFFFF;
}

.title-section{
    line-height: 45px;
    letter-spacing: .2em;
    background-color: #3264FF;
    color: #FFFFFF;
    height: 48px;
    position: relative;
    padding-left: 81px;
    margin-bottom: 110px;
}

.title-section::before{
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #D9D9D9;
    border-radius: 50%;
    left: 40px;
    top: 8px;
}

.about-city__intro{
    font-size: 96px;
    line-height: 120px;
    text-align: center;
    margin-bottom: 80px;
}

.about-city__text-box{
    max-width: 988;
    padding-bottom: 50px;
}

.tracing{
    display: inline-block;
    outline: 1px solid #fff;
    border-radius: 30px;
    padding: 0 7px;
}

.monuments{
    background-color: #000000;
    color: #FFFFFF;
}

.monuments__title{
    margin-bottom: 39px;
}

.monuments__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 34px;
}

.monuments__box-info{
    margin-left: 20px;
}

.wrap{
    margin: 0 20px 0 0;
    text-align: right;
}

.monument-border{
    border: 1px solid #fff;
    border-right: none;
    border-left: none;
    margin: 0 0 34px 0;
    padding: 34px 0;
}

.first-suggestion600{
    font-weight: 600;
}

@media(max-width: 1194px){

    .intro{
        text-align: center;
    }
    
    .intro__title{
        margin-bottom: 109px;
    }
    
    .intro__text{
        max-width: 994px;
        margin-bottom: 138px;
    }
     
    .about-city__text-box{
        max-width: 787px;
    }
    
    .monuments__box-img{
        width: auto;
    }

    .monuments__box-info{
        max-width: 588px;
    } 
}

@media(max-width: 430px){

    .header{
        margin-bottom: 10px;
    }

    .header__inner{
        padding: 18px 0px;
    }

    .logo{
        width: 54px;
        height: 31px;
    }

    .language{
        font-size: 16px;
        line-height: 23px;
    }

    .ellipse{
        width: 23px;
        width: 24px;
    }

    .intro__title{
        font-size: 48px;
        line-height: 60px;
        margin-bottom: 10px;
    }

    .intro__text{
        font-size: 16px;
        line-height: 20px;
        max-width: 350px;
        margin-bottom: 10px;
    }

    .run-line{
        font-size: 48px;
        line-height: 60px;
    }

    .title-section{
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        height: 26px;
        padding-top: 3px;
        margin-bottom: 10px;
        padding-left: 37px;
    }
    
    .title-section::before{
        width: 14px;
        height: 14px;
        left: 9px;
        top: 6px;
    }

    .about-city__intro{
        font-size: 36px;
        line-height: 45px;
        margin-bottom: 10px;
    }
    
    .about-city__text-box{
        font-size: 16px;
        line-height: 20px;
        max-width: 276px;
        padding-bottom: 25px;
    }

    .monuments__box{
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
        text-align: center;
    }
    
    .monuments__box-img{
        width: auto;
        max-height: 289px;
        margin-bottom: 10px;
    }

    .monuments__box-info{
        font-size: 16px;
        line-height: 20px;
        max-width: 350px;
        min-height: 100px;
        margin: 0;
    }
    
    .wrap{
        order: 1;
        text-align: center;
    }

    .wrap-img{
        order: 0;
    }

    .monument-border{
        margin: 0 0 5px 0;
        padding: 5px 0;
    }
}